body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

.ui.celled.table tr td {
  border-left: none;
}

/* .ui.table {
  border: none;
} */

/* .ui.table thead th {
  background: none;
} */

.ui.column.grid > [class*="fourteen wide"].column > .ui.celled.table {
  /* background-color: red; */
  border: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.column.grid
  > [class*="fourteen wide"].column
  > .ui.celled.table
  > thead
  > tr:nth-child(2)
  > th:first-child {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
/* .ui.column.grid
  > [class*="fourteen wide"].column
  > .ui.celled.table
  > thead
  > tr:nth-child(2)
  > th {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  border-top: 1px solid rgba(34, 36, 38, 0.1);
} */

.ui.column.grid
  > [class*="fourteen wide"].column
  > .ui.celled.table
  > thead
  > tr:nth-child(2)
  > th:last-child {
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}
.order {
  width: 250px;
}
.order h1 {
  font-size: 3rem !important;
  font-weight: 400;
  margin-bottom: 0;
}
.order p {
  color: black;
  font-weight: 500 !important;
}
.sub_order {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: center;
  width: 220px;
}
.sub_order h1 {
  font-size: 2rem !important;
  font-weight: 100 !important;
  margin-bottom: 0;
}
.sub_order p {
  color: #888;
  font-weight: 400 !important;
  text-align: left;
  text-transform: capitalize;
}
.cardBox {
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.SubBox1 {
  display: flex;
  width: 28%;
}
.SubBox2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.SubBox1 > .column > .ui.segment {
  box-shadow: none;
  border: none;
}

.SubBox2 > .column > .ui.segment {
  display: flex;
  align-items: center;
  box-shadow: none;
  border: none;
}
.cardBox > .ui.statisticts > .value .ui.statistic > .value,
.ui.statistics .statistic > .value {
  text-align: left;
  font-size: 1rem !important;
}
.SubBox2 > .ui.statisticts > .value .ui.statistic > .value,
.ui.statistics .statistic > .value {
  text-align: left;
  font-size: 1rem !important;
}
.SubBox2 > .ui.statisticts > .value .ui.statistic,
.ui.statistics .statistic {
  justify-content: center;
}

.ui.statistic > .label,
.ui.statistics .statistic > .label {
  text-align: left;
}

.SubBox2 > .column > .ui.segment > .ui.small.statistics .statistic > .value {
  font-size: 2rem !important;
  text-align: left;
}
.SubBox2 > .column {
  width: 100%;
}

.SubBox2 > .column > .ui.segment > .ui.small.statistics .statistic > .label {
  text-align: left;
  color: #888888;
  font-weight: 500;
  text-transform: capitalize;
}

.mosaic_dropdown > .ui.inline.dropdown {
  display: flex;
  justify-content: space-between;
}

/* INDIFI */

.revenuindifi.ui {
  padding: 1em;
}
.revenuindifi.ui > .row {
  padding-bottom: 0;
  padding-top: 0;
}

.revenuindifi > .row > .ui.ui.green.segment:not(.inverted) {
  padding: 0;
  border-top: 1px solid white !important;
  /* height: 50px; */
  width: 100%;
}
.revenuindifi > .row > .ui.segment {
  box-shadow: none !important;
  border: none;
  margin: 0;
  text-transform: capitalize !important;
}

.revenuindifi > .row > .ui.statistics > .ui.statistic > .label {
  text-transform: capitalize !important;
}

.indifiRevenue.ui.statistic {
  display: flex;
  flex-direction: row-reverse !important;
  justify-content: space-between;
  color: #6b707d;
  margin-top: 5px;
}

.indifiRevenue.ui.statistic > .label {
  color: #6b707d;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 5px;
  text-transform: capitalize;
}

.ui.grid > .row > [class*="eleven wide"].column,
.ui.grid > [class*="twelve wide"].column {
  width: 66.6% !important;
}

.ui.grid > .row > [class*="three wide"].column,
.ui.grid > [class*="three wide"].column {
  width: 31.4% !important;
  text-transform: capitalize;
  border-radius: 5px;
  border-top: 2px solid #87cefa;
  border-bottom: 2px solid rgba(225, 225, 226, 0.8);
  border-left: 2px solid rgba(225, 225, 226, 0.8);
  border-right: 2px solid rgba(225, 225, 226, 0.8);
  display: flex;
  margin-left: 1em;
  box-shadow: 0 1px 2px 0rgba (34, 36, 38, 0.15) !important;
}

.ui.grid
  > .row
  > [class*="three wide"].column
  > .ui.grid.revenuindifi
  > .row
  > .ui.segment
  > .ui.statistics
  > .ui.statistic
  > .label {
  text-transform: capitalize;
}
.ui.grid
  > .row
  > [class*="three wide"].column
  > .ui.grid.revenuindifi
  > .row
  > .ui.segment {
  min-height: 60px !important;
}

.ui.grid
  > .row
  > [class*="eleven wide"].column
  > .ui.grid
  > .four.row
  > .column
  > .ui.segment
  > .ui.statistics
  > .ui.statistic
  > .label {
  text-transform: capitalize;
  color: #6b707d;
  font-weight: 100;
  margin-top: 5px;
}

.indifiCharts.column > .ui.segment > .ui.label {
  background-color: white !important;
}

.rotaryChart .ui.label {
  background-color: #fff;
  color: #000;
  font-size: 1.1rem;
}

.rotaryStatistics.ui.statistic > .label {
  text-transform: capitalize;
  color: #6b707d;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.rotaryRevenue.ui.statistic > .label {
  text-transform: capitalize;
  color: #6b707d;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 5px;
}
